[
  %% rabbit element for every type
  {rabbit, [
            {exchange_type, [direct,fanout,topic]},
            {direct, ["direct_handler", "direct_logs", "direct", "info"]},
            {fanout, ["fanout_handler", "fanout_logs", "fanout", ""]},
            {topic,  ["topic_handler", "topic_logs", "topic", "#.rabbit"]}
           ]
  }
].