[
  %% rabbit element for every type
  {rabbit, [
            %% exchange type by default
            {exchange_type, [direct,fanout,topic]},
            {direct, [{exchange_name, "direct"},
                      {exchange_type, "direct"}]},
            {fanout, [{exchange_name, "fanout"},
                      {exchange_type, "fanout"}]},
            {topic,  [{exchange_name, "topic"},
                      {exchange_type, "topic"}]}
           ]
  }
].